# Node modules
/node_modules

# Optional logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv files (for secrets)
.env
.env.local
.env.production

# Firebase keys
firebase-service-account.json

# OS-specific
.DS_Store

# Google Cloud credentials
google-credentials.json
