# Node modules
/node_modules

# Optional logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv files (for secrets)
.env
.env.local
.env.production

# Firebase keys
firebase-service-account.json

# OS-specific
.DS_Store

# Google Cloud credentials
google-credentials.json
src/config/google-credentials.json
**/google-credentials.json

# Google OAuth tokens
tokens.json
src/config/tokens.json
**/tokens.json
